body{
  font-family: sans-serif;
  color: rgb(64,78,77);
}

body.html.h1 {
  margin: o;
  padding:0;
}

.card-container{
  width: 100%;
  margin: 0px auto;
  display: flex;  
  margin: 10px;  
  flex-wrap: wrap; 
}

.card-container .card{
  margin-right: 10px;
  flex:1;
}

.card{
  border: 1px solid  rgb(64,78,77,0.1);
  padding: 20px;
  max-width: 200px;
  border-radius: 4px;
  display:inline-block; 
  text-align: center;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.card h1{
  font-size: 20px;
  text-align: center;
}

.card p{
  padding-top: 10px;
}

.btn{
  border:0px;
  padding: 10px;
  border-radius: 4px;
  min-width: 60px;
  display: inline-block;
  font-size: 18px;
  background-color: rgb(91,192,235);
  color: white;
  cursor: pointer;

  transition: 0.4s;
}

.btn.focus{
  outline: none;
}

.btn.hover{
  background-color:rgb(69,146,179) ;
}

.card-cotainer .card h1{
  color: yellow;
}


